   
   *{
       margin: 0;
       padding: 0;
   }
   body {
    overflow-x:hidden ;
    font-family:Montserrat,sans-serif;
    }
    header{
    background-image:url("images/banner.jpg");
    background-size:cover;
    background-position: center;
    height: 560px;
    padding:0px;
    margin:0;
    top: 0;    
    }
    .logoimg{
        left: 10%;
        width: 50px;
        height: 50px;
        
    }
    .logoimg img{
        left: 10%;
        width: 50px;
        height: 50px;
        object-fit: contain;
        
    }
    .sidenav{
    height:560px;
    width: 200px;
    position:fixed;
    right: -200px;
    top: 0;
    background: #1cbbc0;
    z-index: 2;
    transition: 0.5s;
    }
    nav ul li{
    list-style: none;
    margin: 50px 20px;
    }
    nav ul li a{
        text-decoration: none;
        color: white;
    }
    .intro{
    color:white;

    }
    .menubtn{
        width: 50px;
        height: 50px;
        background: #009688;
        text-align: center;
        position: fixed;
        right: 30px;
        top: 20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
    }
    #menu{
        width: 20px;
        margin-top: 15px;
    }
    .intro h1{
    color:rgb(224, 99, 15);
    width:80%;
    padding-top:150px;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    Padding-bottom:1%;
    margin: auto;
    }
    .intro h5{
        color:rgb(14, 227, 255);
        width:80%;
        top :1%;
        text-align: center;
        margin: auto;
    } 
    .intro span{
    color:#ffffff;
    margin: auto;
    }
    .header-btn{
        margin:70px auto 0;
        text-align: center;       
    }
    .header-btn a{
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color: #fff;
        border: .5px solid #fff;
        position: relative;
        z-index: 1;
        transition: color 0.5s;
        

    }
    .header-btn a span{
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 1;
        transition: 0.5s;
        
    }
    .header-btn a:hover span{
        width: 100%;
    }
    .header-btn a:hover{
        color: black;
    }
    .container1{
        align-self: center;
    }
    .buttons{
    Justify-content:stretch;
    align-self: center;
    left: 200px;
    margin-left: 40px;
    text-align: center;
    margin-top: 30px;

    }
    .buttons button{
    background-color:#ebe8eb;
    margin: 0 30px 0 30px;
    width: 140px;
    height: 30px;
    color: rgb(49, 4, 121);
    font-size: 25px;
    }
    .button:hover{
    color:rgb(15, 18, 218);
    }
    .who_am_i{
    top: auto;
    background-image:url("images/white.jpg");
    }
    hi{
    color:gray;
    text-align:center ;
    }
    .content1{
    display:block ;
    background:white;
    background-image:url("images/boxwhite.jpg");
    border:1px solid black;
    height:400px;
    padding:3%;
    top:-150%;
    overflow:hidden;
    align-self: center;
    margin-left: 35%;
    margin-right: 35%;
    }
    .skills,.education, .experience{
    display:none ;
    text-decoration:none;
    background-color:006989;
    font-size:22px;
    color:black;
    }
    .experience{
    display:none;
    }
    .education{
    display:none;
    top:0;
    }
    #services web{
        background-image:url("images/web.png");
    }
    #services h1{
        text-align: center;
        color: grey;
        height: auto;
        margin-top: 20px;
    }

    .services{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    grid-auto-flow: column;
    width: 604px;
    margin:auto 20px auto 60px;
    margin-top: 20px;
    }
    .services div{
        border:1px #000;
        width: 400px;
        height: 200px;

    }
.projects{
    margin:auto;

}
.motivation{
    margin: auto;
}
    .btn{
    width:120px;
    }
    #ctact {
    font-size:30px;
    margin: auto;
    color:#a7a599;
    text-align:center;
    }
    #ton{
    width:50px;
    background-color:aqua;
    }
    .contacts span{
    margin-left:100px;
    }